HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/

# Carpetas de compilación de Maven
/target/

# Datos locales de Docker Compose (si no quieres versionarlos)
/db_data/

# Archivos de sistema
.DS_Store
Thumbs.db
